
/* This is the main theme for the home page and any that look similar */


@font-face {
font-family: Windows;
src: url('../assets/fonts/Windows\ Regular.ttf');
}
@font-face {
font-family: IBM;
src: url('../assets/fonts/IBM\ PS-55.ttf');

}
@font-face {
font-family: Gameboy;
src: url('../assets/fonts/gameboy.ttf');
}
             
 
 maincontent {
    width: calc(100% - 150px);
    max-width: 800px;
    margin: 0px;
    background-color: #a0c86e;
    padding: 10px;
    border-width: 3px;
    border-style: solid none solid none;
    border-color: #5e7840;
    
    
  }

  sidebar {
    width: 150px;
    margin: 0px;
    background-color: #a0c86e;
    padding: 10px;
    border-width: 3px;
    border-color: #5e7840;
    border-style: solid solid solid none;
    
    
    }
  
   flexboxhalf {
    width: calc(100% / 2 );    
    background-color: #a0c86e;
    border-width: 3px;
    border-color: #5e7840;
    border-style: none solid none none;
    max-width: 400px;
   }
  

header { 
  width: 100%;
  background-color: #a0c86e;
  height: 180px;
  border-width: 3px;
  border-style: none none solid none;
  border-color: #5e7840;

}

#indexfooter { /* This is the most important footer, but keep the other two to prevent some pages from breaking. Can delete it later */
    max-width: 100%;
    background-color: #a0c86e;
    padding: -20px;
    border-style: solid none none none;
    border-width: 3px;
    border-color: #5e7840;
    
   
  }

  #indexfooter p{
    font-size: 12px;
    font-family: IBM;
    margin-left: 5px;
    font-style: italic;
    
  }
.ticker-wrapper {
width: 100%;
padding-left: 100%;
background-color: #a0c86e;
}
body {
background-attachment: fixed; /* prevents bg scrolling */
}   

flexcontainer {
display: flex;
flex-wrap: nowrap;
flex-direction: row;
}







main {
  background-color:  transparent;
  height: auto;
  max-width: 800px;
  margin: auto;
}




 .logo {
  height:100%;
 
}
  #logo h1{  /* edit logo here */

margin: auto;
font-size: 70px; 
font-family: IBM; 
letter-spacing: 10px; 
text-align: center;
vertical-align: middle;
line-height: 180px;   


/*text-shadow: 2px 2px 3px white, -2px -2px 3px white; */


}
h1 {
 font-family: IBM;
}
h2,
h3 {
color: #000000;
font-family: IBM;
}


  a {color: black;}         /* Unvisited link  */
  a:visited {color: black;} /* Visited link    */
  a:hover {color:white;}   /* Mouse over link */
  a:active {color: white;}  /* Selected link   */
        

p {
  font-family: IBM; 
}



  /* These increase size of link text on hover */
  #linkbutton {  
    transition: transform 0.2s;
  }
  #linkbutton h1{
    margin: 5px;
    margin-left: 15px;
  }
  #linkbutton:hover {
     transform: scale(1.1); 
  }
 /* Three image arrangement */
  #triflexwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
  }
  #tridisplay {
    width: calc((100% / 3) - 5px);
    margin: 2.5px;
  }
  #tridisplay img{
    object-fit: cover;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    max-height: 170px;
  }

   .ticker-container {
width: 100%;
overflow: hidden;

}

@keyframes ticker {
0% {
transform: translate3d(0, 0, 0);
}
100% {
transform: translate3d(-100%, 0, 0);
}
}
.ticker-transition {
display: inline-block;
white-space: nowrap;
padding-right: 100%;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-name: ticker;
animation-duration: 30s;
}
/*.ticker-transition:hover {
animation-play-state: paused;
cursor: pointer;
} want this to not pause the ticker but still a really valuable feature elsewhere*/
.ticker-item {
display: inline-block;
padding: 0 2rem;
font-family: AgBold;
font-size: 25px;
font-style: italic;
}

 @media (prefers-color-scheme: dark) {
    maincontent {
    background-color: #19232d;
    border-color: #40677c;
  }
  sidebar {
    background-color: #19232d;
    border-color: #40677c;
     }
  
   flexboxhalf {
    background-color: #19232d;
    border-color: #40677c;
   }
  

header { 
  background-color: #19232d;

}

#indexfooter { 
    background-color: #19232d;
    border-color: #40677c;
    
  }

.ticker-wrapper {

background-color: #19232d;
}

p {
color: white;
}

h1{
color: white;
}
  a {color: white;}         /* Unvisited link  */
  a:visited {color: white;} /* Visited link    */
  a:hover {color:blue;}   /* Mouse over link */
  a:active {color: white;}  /* Selected link   */
  
  .ticker-item {
  color: white;
  }
header {
border-color:#40677c;
}
  }     
