
@font-face {
font-family: Windows;
src: url('../assets/fonts/Windows\ Regular.ttf');
}
@font-face {
font-family: IBM;
src: url('../assets/fonts/IBM\ PS-55.ttf');

}
@font-face {
font-family: AGBold;
src: url('../assets/fonts/AppleGaramond-Bold.ttf');
}
@font-face {
font-family: Gameboy;
src: url('../assets/fonts/gameboy.ttf');
}
             
@font-face {
font-family: TT;
src: url('../assets/fonts/TT\ Norms\ Pro\ Serif\ Trial\ DemiBold.ttf');

}
             



  body {
  background-attachment: fixed;
  }   



 #allcontaining {
  max-width: 750px;
  margin: auto;
  margin-top: 0px;
  border-radius: 5px 5px 5px 5px;
  
}

#bodyflexwrapper {
display: flex;
flex-wrap: nowrap;
flex-direction: row;
}



#header { 
  width: 100%;
  background-color: transparent;
  height: 180px;
  
  
  
  
  
}




main {
  background-color:  #none;
  padding: 5px;
  border-radius: 0px, 0px, 5px, 5px;
  height: auto;
  border-color: #183D3D;
  border-style: solid;
  border-width: 5px;
}

 footer {
  display: flex;
  background-color: #dbc7a6;
  width: 100%;
  height: 40px;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0; 
}

footernonstick {
  display: flex;
  background-color: #dbc7a6;
  width: 100%;
  height: 40px;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
color: #000000;
font-family: IBM;
}



strong {
  color: #000000;
}

.box {
  background-color: #dbc7a6;
  padding: 10px;
  border-radius: 5px;
}

.box2 {
  background-color: #faebcc;
  padding: 10px;
  border-radius: 5px;
}

.todobox {
  background-color: #dbc7a6;
  height: 105px;
  width: auto;
  padding: 10px;
  border-radius: 5px;
}
            
          
.narrow {
  float: right;
  width: 250px;
  background: #faebcc;
  margin-top: 15px;
  border-radius: 5px;
}
            
.wide {
  float: left;
  width: calc(100% - 250px);
  background: #faebcc;
  height: 168px;
  margin-top: 15px;
  border-radius: 5px;
}

.logo {
  height:100%;
  position: absolute;
  
  
}
          

p {
  font-family: IBM; 
}

#logo h1{  /* edit logo here */
color: white;
margin-left: 5px; 
margin-top: 40px; 
font-size: 55px; 
font-family: IBM; 
letter-spacing: 10px; 

text-shadow: 2px 2px 3px #93B1A6, -2px -2px 3px #5C8374; 

}

 a {color: black;}         /* Unvisited link  */
  a:visited {color: black;} /* Visited link    */
  a:hover {color:white;}   /* Mouse over link */
  a:active {color: white;}  /* Selected link   */

  

