           
@font-face {
font-family: Famifont;
src: url('fonts/FamifontBold-j8Oj.ttf');
}

@font-face {
font-family: Goudy;
src: url('fonts/Goudy.otf');
}
@font-face {
font-family: Magic;
src: url('fonts/MagicalNight.ttf');
}
  
           
@font-face {
font-family: Taxon;
src: url('fonts/Taxon-Regular.otf');
}


@font-face {
font-family: csoft;
src: url('fonts/csoftbold.otf');
}
       
@font-face {
font-family: CameraObscura;
src: url('fonts/CameraObscura.otf');
}
    
:root { 
	font-size: 18px;
	color-scheme: light dark;
	accent-color: teal;
}

body {
	color: black;
	
	font-smooth: never;
	-webkit-font-smoothing: none;
	-moz-font-smoothing: greyscale;
}

* { 
	image-rendering: pixelated;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-color: cadetblue gainsboro;
	overscroll-behavior: none;
}

ul {
	padding: 0px 10px 0px 20px;
	margin: 0px;
	text-align: left;
}

.border { 
  border: 7px solid transparent;
  background-color: rgba(0, 0, 0, 0.681);
	padding: 10px 36px;
	border-radius: 5px;
}
	
a.border:hover, a.border:focus { 
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAsElEQVQ4T7VVQQ7AIAib/3/0JktqagOiRjnphhVKwfJcsHIB8+lA32q4pFTjPV9u/2yv/u0sFuYAZz7A39jX1uqPfYvUA40AkcURUKQ7DepxpJxq5CmnAPVS9hTCdHEGP9daKHWIJDeqgVsoPZBFqlkuV38kwW1JcdTK6zFQNAFf0KXPXTLDa0TFsPc1Ve3/VKeRRCKJLUuKJRLRsA2qk2h5SkXzcTRTU05PvgBXnpMPNvIIJdPd95YAAAAASUVORK5CYII=") 7 /  7px / 0 round;
}
	
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

hr {
	border: none;
	border-top: 1px solid;
}

h3, h2, h1 { font-weight: normal; }

h3 { font-size: 1.25rem; line-height: 1; font-style: italic; color: white; font-family: csoft; }
h2 { font-size: 1.45rem; line-height: 1; text-transform: uppercase; color: white; font-family: csoft;}
h1 { font-size: 2.75rem; line-height: 1;color: white; font-family: csoft;}
		 
p, ol, ul, dl, code, details { font-size: 1rem; line-height: 1.3; }
		 
h1, h2, h3, h4, h5, h6, p, table, details, cite, blockquote, hr {
	margin: 18px 0;
}

ul, dl {
	margin: 18px 0 18px 18px;
}

ol { margin: 18px 0 18px 54px; }
ol ol { margin: 0 0 0 54px; }

ul ul, dd { 
	margin: 0 0 0 18px;
}

details p { margin: 18px 0 18px 36px; }

summary { cursor: pointer; }

ul { list-style-type: square; }

code {
	background-color: white;
	font-family: 'DOS', monospace; 
	font-size: 80%;
	padding: 1px 4px;
}


@media only screen and (max-width: 800px) {
#flex {
flex-wrap: wrap;
}

aside {
width: 100%;
}

main {
order: 2;
}

#leftSidebar {
order: 1;
}

#rightSidebar {
order: 3;
}

#navbar ul {
flex-wrap: wrap;
}



#flex {
  display: flex;
}
}
#container {
  max-width: 800px;
  margin: 0 auto;
  
  border-radius: 5px 5px 5px 5px;
}